<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>长颈鹿</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/giraffe-home.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <% if (globalMsg) {%>
      <div class="global-tip"><%= globalMsg %></div>
    <% } %>
    <div class="jumbotron">
        <div class="inner">
            <h1>Giraffe</h1>
            <p>再高的围墙也挡不住追寻草原的心</p>
          <div class="container intro">
            <img src="/images/giraffee1.jpg" />
          </div>

          <div class="container login-cont">
            <ul class="nav nav-tabs nav-justified">
              <li role="presentation" class="active"><a href="#">登录</a></li>
              <li role="presentation"><a href="#">注册</a></li>
            </ul>

            <div class="nav-cont-wrap">
                <div class="nav-con">
                  <form method="post" action="/user/login">
                      <div class="form-group">
                        <label for="exampleInputEmail1">邮箱</label>
                        <input type="email" class="form-control" id="loginEmail" name="account" placeholder="输入邮箱">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" id="loginPwd" name="password" placeholder="密码">
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 记住我？
                        </label>
                      </div>
                      <% if (loginMsg) { %>
                      <span class="msg"><%= loginMsg %></span>
                      <% } %>
                      <button type="submit" class="btn btn-default btn-block">登录</button>
                    </form>
                </div>

                <div class="nav-con hide">
                    <form method="post" action="/user/register">
                        <div class="form-group has-feedback">
                        <label for="exampleInputEmail1">邮箱</label>
                        <input type="email" class="form-control" id="registryEmail" name="account" placeholder="输入邮箱">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" id="registryPwd" name="password" placeholder="密码">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">昵称</label>
                        <input type="text" class="form-control" id="registryNick" name="resume.nickname" placeholder="昵称">
                      </div>
                      <% if (regMsg) { %>
                      <span class="msg"><%= regMsg %></span>
                      <% } %>
                      <button type="submit" class="btn btn-default btn-block">注册</button>
                    </form>
                </div>
            </div>
          </div>
      </div>
    </div>

    <div class="footer">
        <div class="footer-wrap">
            <div class="icon"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></div>
            <p>
            Giraffe是一个通用的网络加速解决方案。它能让你更快更好的浏览和使用全球的网络资源，Giraffe高速稳定、简单易用，并具有缜密的设计和保障。如果你不想整天花时间维护自建服务，不妨试试Giraffe。
            </p>
            <p class="copyright">&copy; 2015 giraffe</p>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/giraffe-home.js"></script>
  </body>
</html>